.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 150px;
  margin-bottom: 300px;
}

.main div {
  margin-bottom: 30px;
}

.main-title p, .sub-title p, .get-started-btn {
  margin: 0;
}

.main .main-title {
  font-size: 50px;
  font-weight: bold;
}

.main .sub-title {
  width: 400px;
}

.get-started-btn {
  font-size: 17px;
  padding: 11px 21px 11px 21px;
  background-color: #272B2C;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

.get-started-btn:active {
  background-color: #4a4e52;
}