<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExpenseTrackerWeb</title>
    <link href="https://fonts.cdnfonts.com/css/circe-rounded" rel="stylesheet">
    <link href="~/css/general.css" rel="stylesheet" />
    <link href="~/css/landingpheader.css" rel="stylesheet" />
    <link href="~/css/landingsidebar.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <header class="header-container">
        <div class="hamburger" id="hamburger">
            <img src="/images/sidebarImg/charm_menu-hamburger.svg" alt="" class="burger">
        </div>
        <div class="logo">
            <img src="~/images/ETlogo.svg" alt="Logo">
        </div>
        <div class="expense-tracker">
            <a href="#">ExpenseTracker</a>
        </div>
        <div class="landing-tags">
            <a href="@Url.Action("ExpenseTracker", "Home")">Home</a>
        </div>
        <div class="landing-tags">
            <a href="#">Why ExpenseTracker?</a>
        </div>
        <div class="landing-tags">
            <a href="#">Our Team</a>
        </div>
        <form method="get" asp-controller="Account" asp-action="SignUp">
        <div>
            <button class="register-btn">
                Register Now
            </button>
        </div>
        </form>
    </header>

    <div class="overlay" id="overlay"></div>

    <nav class="sidebar" id="sidebar">
        <div class="logo-sidebar">
            <img src="~/images/ETlogo.svg" alt="Logo">
            <p>ExpenseTracker</p>
        </div>
        <div class="home">
            <a href="#">Home</a>
        </div>
        <div class="why-expense">
            <a href="#">Why ExpenseTracker?</a>
        </div>
        <div class="our-team">
            <a href="#">Our Team</a>
        </div>
        <div class="close-btn">
            <a href="javascript:void(0)" class="closebtn" id="close-btn">&times;</a>
        </div>
    </nav>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <script src="~/js/sidebar.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
